@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Circular;
  src: url(fonts/Circular/CircularStd-Book.woff);
  font-weight: normal;
}

@font-face {
  font-family: Circular;
  src: url(fonts/Circular/CircularStd-Bold.woff);
  font-weight: bold;
}

@font-face {
  font-family: Circular;
  src: url(fonts/Circular/CircularStd-Black.woff);
  font-weight: 900;
}

* {
  outline: none !important;
  font-family: 'Circular';
  letter-spacing: 0.01em;
}

h1 {
  @apply text-5xl font-black text-black;
}

h2 {
  @apply text-3xl font-black text-black;
}

h3 {
  @apply text-2xl font-black text-black;
}

h4 {
  @apply text-xl font-black text-black;
}

h5 {
  @apply text-lg font-bold text-black;
}

label {
  @apply block mb-2 font-bold text-sm text-black;
}

a {
  @apply text-green opacity-70 hover:opacity-50;
}

a.lowkey {
  @apply text-black opacity-50 hover:opacity-30;
}

.text-input {
  @apply w-full py-3 px-4 border-2 rounded;
}

.text-input:hover {
  @apply border-gray-400;
}

.text-input:focus {
  @apply border-green;
}

.text-input-with-icon {
  @apply text-input flex flex-row items-center;
}

.text-input-with-icon > input {
  @apply w-full mt-1 ml-3;
}

.text-input-with-icon:focus-within {
  @apply border-green;
}

.text-input-with-icon > img {
  height: 16px;
}

.btn-primary {
  @apply py-3 px-16 bg-green rounded font-bold text-white;
}

.btn-primary:not([disabled]):hover {
  @apply opacity-70;
}

.btn-primary:disabled {
  @apply opacity-30;
}

#modal-overlay {
  @apply fixed w-screen h-screen bg-white z-10 opacity-90 hidden;
}

#modal-overlay[visible] {
  @apply block;
}

.modal {
  width: 100%;
  max-width: 480px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @apply py-8 px-8 grid auto-rows-auto gap-4 bg-white text-left rounded shadow-xl;
  z-index: 50;
}

.header-gradient {
	color: transparent;
  background: #00D95F;
  background-clip: text;
}

.faq {
  @apply w-full text-left select-none;
}

.faq .title {
  @apply w-full mt-2 flex items-center justify-between bg-white py-4 px-8 text-left rounded cursor-pointer;
}

.faq .title::after {
  width: 16px;
  height: 16px;
  content: "";
  background-image: url('./images/ic-arrow-down.svg');
  background-repeat: no-repeat;
  background-size: 16px;
}

.faq .title[open] {
  @apply rounded-b-none;
}

.faq .title[open]::after {
  transform: rotate(180deg);
}

.faq .panel {
  @apply w-full hidden flex flex-col space-y-4 bg-white py-4 px-8 text-left border-t rounded-b;
}

.owl-carousel {
  overflow: hidden;
}

#spotify-code__phone {
  transform: translate(-15%, 0) rotate(-30deg);
}

.phone-animation {
  animation: move-phone-in 2s ease-in-out 2;;
  animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes move-phone-in {
  0% { transform: translate(-15%, 0) rotate(-30deg); }
  50% {
    transform: translate(-30%, 0) rotate(-45deg);
  }
  70% {
    transform: translate(-50%, 0) rotate(-45deg);
  }
  90% {
    transform: translate(-90%, 15%) rotate(-30deg) scale(1.5);
  }
  100% {
    transform: translate(-95%, 15%) rotate(-20deg) scale(1.5);
  }
}

.code-animation {
  animation: code-flash 0.5s 1;;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes code-flash {
  0% { filter: blur(0px); }
  25% { filter: blur(2px); }
  50% { filter: blur(0px); filter: grayscale(80%); }
  75% { filter: blur(2px); }
  100% { filter: blur(0px); }
}